$shadow-color: #0e0e0e;

window.indicator {
  .progress {
    box-shadow: 0 0 5px 0 $shadow-color;
    margin: 15px;
    border: 2px solid $blue;
    background-color: $base;
    color: $text;
    padding: 5px;
    border-radius: 15px;

    .fill {
      border-radius: 10px;
      background-color: $blue;
      color: $crust;

      image {
        -gtk-icon-transform: scale(0.7);
      }
    }
  }

  .microphone {
    box-shadow: 0 0 5px 0 $shadow-color;
    margin: 15px;
    border: 2px solid $blue;
    background-color: $base;
    color: $text;
    padding: 5px;
    border-radius: 15px;
    font-size: 58px;
    color: transparentize($crust, .1)
  }
}
