/*   _ _ _ __    _____ _____ _____ _____ _____ 
    | | | |  |  |     |   __|     |  |  |_   _|
    | | | |  |__|  |  |  |  |  |  |  |  | | |  
    |_____|_____|_____|_____|_____|_____| |_|   STYLE  
                                           
    by Bina 
*/


/* pywal colors */ 
@import '../../.cache/wal/colors-waybar.css';

/* general */ 
* {
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-image: image(url("/home/crux/.config/rofi/.current_wallpaper"));
}

button {
    color: #FFFFFF;
    background-color: @color1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    border: solid 3px @color7;
	  border-radius: 10px;
	  outline-style: none;
}

/* options */ 
#lock {
    background-color: @color1;
    background-image: image(url("icons/lock.png"));
    border-radius: 5px 0px 0px 0px;
    margin : 100px 0px 0px 550px;
}

#reboot {
    background-color: @color2;
	  background-image: image(url("icons/reboot.png"));
	  border-radius: 0px 0px 0px 5px;
    margin : 0px 0px 100px 550px;
}

#logout {
    background-color: @color3;
	  background-image: image(url("icons/logout.png"));
	  border-radius: 0px 5px 0px 0px;
    margin : 100px 550px 0px 0px;
}

#shutdown {
    background-color: @color4;
	  background-image: image(url("icons/shutdown.png"));
	  border-radius: 0px 0px 5px 0px;
    margin : 0px 550px 100px 0px;
}

/* options on hover */ 
button:hover {
    background-size: 25%;
}

button:hover#lock {
    border-radius: 10px 10px 0px 10px;
    margin : 80px 0px 0px 530px;
}

button:hover#reboot {
    border-radius: 10px 0px 10px 10px;
    margin : 0px 0px 80px 530px;
}

button:hover#logout {
    border-radius: 10px 10px 10px 0px;
    margin : 80px 530px 0px 0px;
}

button:hover#shutdown {
    border-radius: 0px 10px 10px 10px;
    margin: 0px 530px 80px 0px;
}

